# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


.idea

# log
*.log

# config files

**/config.yaml
**/chain-exporter.yaml
**/mintscan.yaml

**/mintscan
**/chain-exporter

# genesis.json
genesis.json
ignoredir/
deprecated/
